foreground #{{foreground.p100.hex}}
background #{{background.hex}}

selection_background #{{selection.p75.hex}}
selection_foreground #{{background.hex}}
cursor #{{cursor.p100.hex}}
cursor_text_color #{{background.hex}}

url_color #{{link.p100.hex}}

active_border_color #{{primary.p75.hex}}
inactive_border_color #{{foreground.p25.hex}}
bell_border_color #{{secondary.p75.hex}}

active_tab_foreground #{{foreground.p100.hex}}
active_tab_background #{{background.hex}}
inactive_tab_foreground #{{foreground.p75.hex}}
inactive_tab_background #{{foreground.p10.hex}}
tab_bar_background #{{foreground.p10.hex}}

mark1_foreground #{{background.hex}}
mark1_background #{{c3.p75.hex}}
mark2_foreground #{{background.hex}}
mark2_background #{{c4.p75.hex}}
mark3_foreground #{{background.hex}}
mark3_background #{{c5.p75.hex}}

{{#ansi}}
color0 #{{c0.hex}}
color1 #{{c1.hex}}
color2 #{{c2.hex}}
color3 #{{c3.hex}}
color4 #{{c4.hex}}
color5 #{{c5.hex}}
color6 #{{c6.hex}}
color7 #{{c7.hex}}
color8 #{{c8.hex}}
color9 #{{c9.hex}}
color10 #{{ca.hex}}
color11 #{{cb.hex}}
color12 #{{cc.hex}}
color13 #{{cd.hex}}
color14 #{{ce.hex}}
color15 #{{cf.hex}}
{{/ansi}}
