<?xml version="1.0" encoding="UTF-8"?>
<!-- Base9 -->
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c0.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c0.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c0.dec_r}}</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c1.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c1.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c1.dec_r}}</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.ca.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.ca.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.ca.dec_r}}</real>
	</dict>
	<key>Ansi 11 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.cb.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.cb.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.cb.dec_r}}</real>
	</dict>
	<key>Ansi 12 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.cc.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.cc.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.cc.dec_r}}</real>
	</dict>
	<key>Ansi 13 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.cd.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.cd.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.cd.dec_r}}</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.ce.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.ce.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.ce.dec_r}}</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.cf.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.cf.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.cf.dec_r}}</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c2.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c2.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c2.dec_r}}</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c3.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c3.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c3.dec_r}}</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c4.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c4.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c4.dec_r}}</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c5.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c5.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c5.dec_r}}</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c6.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c6.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c6.dec_r}}</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c7.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c7.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c7.dec_r}}</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c8.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c8.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c8.dec_r}}</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ansi.c9.dec_b}}</real>
		<key>Green Component</key>
		<real>{{ansi.c9.dec_g}}</real>
		<key>Red Component</key>
		<real>{{ansi.c9.dec_r}}</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{background.dec_b}}</real>
		<key>Green Component</key>
		<real>{{background.dec_g}}</real>
		<key>Red Component</key>
		<real>{{background.dec_r}}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{cursor.p100.dec_b}}</real>
		<key>Green Component</key>
		<real>{{cursor.p100.dec_g}}</real>
		<key>Red Component</key>
		<real>{{cursor.p100.dec_r}}</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{background.dec_b}}</real>
		<key>Green Component</key>
		<real>{{background.dec_g}}</real>
		<key>Red Component</key>
		<real>{{background.dec_r}}</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{foreground.p100.dec_b}}</real>
		<key>Green Component</key>
		<real>{{foreground.p100.dec_g}}</real>
		<key>Red Component</key>
		<real>{{foreground.p100.dec_r}}</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{background.dec_b}}</real>
		<key>Green Component</key>
		<real>{{background.dec_g}}</real>
		<key>Red Component</key>
		<real>{{background.dec_r}}</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{selection.p75.dec_b}}</real>
		<key>Green Component</key>
		<real>{{selection.p75.dec_g}}</real>
		<key>Red Component</key>
		<real>{{selection.p75.dec_r}}</real>
	</dict>
</dict>
</plist>
