# {{name}}
Base9 theme for [{{app.name}}]({{app.link}}).

## Installation

{{#platforms}}
### {{name}}
{{#setup_md}}
{{{.}}}
{{/setup_md}}

```bash
curl https://raw.github.com/builder > base9-builder
chmod +x base9-builder

curl https://raw.github.com/{{key}}/{{template}} > base9.mustache

BASE9_PALATTE="282828-ebdbb2-83a598-8ec07c-fe8019-fabd2f-b8bb26-d3869b-fb4934"
DESTINATION="{{destination}}"
base9-builder render $BASE9_PALETTE base9.mustache > $DESTINATION
```

{{#screenshot}}
## Screenshots
{{#palettes}}
{{.}}

![{{.}}]({{prefix}}{{.}}{{extension}})

{{/palettes}}
{{/screenshot}}
{{/platforms}}

