.hljs-keyword { color: #{{keyword.p100.hex}}; }
.hljs-built_in { color: #{{foreground.p100.hex}}; }
.hljs-type { color: #{{type.p100.hex}}; }
.hljs-literal { color: #{{literal.p100.hex}}; }
.hljs-number { color: #{{literal.p100.hex}}; }
.hljs-operator { color: #{{operator.p100.hex}}; }
.hljs-punctuation { color: #{{operator.p100.hex}}; }
.hljs-property { color: #{{field.p100.hex}}; }
.hljs-regexp { color: #{{literal.p100.hex}}; }
.hljs-string { color: #{{string.p100.hex}}; }
.hljs-char.escape_ { color: #{{escape.p100.hex}}; }
.hljs-subst { color: #{{foreground.p100.hex}}; }
.hljs-symbol { color: #{{decorator.p100.hex}}; }
.hljs-variable { color: #{{foreground.p100.hex}}; }
.hljs-variable.language_ { color: #{{keyword2.p100.hex}}; }
.hljs-variable.constant_ { color: #{{constant.p100.hex}}; }
.hljs-title { color: #{{primary.p100.hex}}; }
.hljs-title.class_ { color: #{{type.p100.hex}}; }
.hljs-title.class_.inherited__ { color: #{{type.p100.hex}}; }
.hljs-title.function_ { color: #{{function.p100.hex}}; }
.hljs-title.function_.invoke__ { color: #{{function.p100.hex}}; }
.hljs-params { color: #{{parameter.p100.hex}}; }
.hljs-comment { color: #{{foreground.p75.p100.hex}}; }
.hljs-doctag { color: #{{decorator.p100.hex}}; }
.hljs-meta { color: #{{decorator.p100.hex}}; }
.hljs-meta.prompt_ { color: #{{primary.p100.hex}}; }
.hljs-meta.keyword_ { color: #{{keyword.p100.hex}}; }
.hljs-meta.string_ { color: #{{string.p100.hex}}; }
.hljs-section { color: #{{primary.p100.hex}}; }
.hljs-tag { color: #{{primary.p100.hex}}; }
.hljs-name { color: #{{field.p100.hex}}; }
.hljs-attr { color: #{{field.p100.hex}}; }
.hljs-attribute { color: #{{field.p100.hex}}; }
.hljs-bullet { color: #{{operator.p100.hex}}; }
.hljs-code { color: #{{string.p100.hex}}; }
.hljs-emphasis { color: #{{secondary.p100.hex}}; }
.hljs-strong { color: #{{secondary.p100.hex}}; }
.hljs-formula { color: #{{string.p100.hex}}; }
.hljs-link { color: #{{link.p100.hex}}; }
.hljs-quote { color: #{{string.p100.hex}}; }
.hljs-selector-tag { color: #{{css.element.p100.hex}}; }
.hljs-selector-id { color: #{{css.id.p100.hex}}; }
.hljs-selector-class { color: #{{css.class.p100.hex}}; }
.hljs-selector-attr { color: #{{field.p100.hex}}; }
.hljs-selector-pseudo { color: #{{css.pseudo.p100.hex}}; }
.hljs-template-tag { color: #{{css.element.p100.hex}}; }
.hljs-template-variable { color: #{{field.p100.hex}}; }
.hljs-addition { color: #{{green.p100.hex}}; }
.hljs-deletion { color: #{{red.p100.hex}}; }