.hljs-keyword { color: var(--base9-keyword-p100); }
.hljs-built_in { color: var(--base9-foreground-p100); }
.hljs-type { color: var(--base9-type-p100); }
.hljs-literal { color: var(--base9-literal-p100); }
.hljs-number { color: var(--base9-literal-p100); }
.hljs-operator { color: var(--base9-operator-p100); }
.hljs-punctuation { color: var(--base9-operator-p100); }
.hljs-property { color: var(--base9-field-p100); }
.hljs-regexp { color: var(--base9-literal-p100); }
.hljs-string { color: var(--base9-string-p100); }
.hljs-char-escape_ { color: var(--base9-escape-p100); }
.hljs-subst { color: var(--base9-foreground-p100); }
.hljs-symbol { color: var(--base9-decorator-p100); }
.hljs-variable { color: var(--base9-foreground-p100); }
.hljs-variable-language_ { color: var(--base9-keyword2-p100); }
.hljs-variable-constant_ { color: var(--base9-constant-p100); }
.hljs-title { color: var(--base9-primary-p100); }
.hljs-title-class_ { color: var(--base9-type-p100); }
.hljs-title-class_-inherited__ { color: var(--base9-type-p100); }
.hljs-title-function_ { color: var(--base9-function-p100); }
.hljs-title-function_-invoke__ { color: var(--base9-function-p100); }
.hljs-params { color: var(--base9-parameter-p100); }
.hljs-comment { color: var(--base9-foreground-p75-p100); }
.hljs-doctag { color: var(--base9-decorator-p100); }
.hljs-meta { color: var(--base9-decorator-p100); }
.hljs-meta-prompt_ { color: var(--base9-primary-p100); }
.hljs-meta-keyword_ { color: var(--base9-keyword-p100); }
.hljs-meta-string_ { color: var(--base9-string-p100); }
.hljs-section { color: var(--base9-primary-p100); }
.hljs-tag { color: var(--base9-primary-p100); }
.hljs-name { color: var(--base9-field-p100); }
.hljs-attr { color: var(--base9-field-p100); }
.hljs-attribute { color: var(--base9-field-p100); }
.hljs-bullet { color: var(--base9-operator-p100); }
.hljs-code { color: var(--base9-string-p100); }
.hljs-emphasis { color: var(--base9-secondary-p100); }
.hljs-strong { color: var(--base9-secondary-p100); }
.hljs-formula { color: var(--base9-string-p100); }
.hljs-link { color: var(--base9-link-p100); }
.hljs-quote { color: var(--base9-string-p100); }
.hljs-selector-tag { color: var(--base9-css-element-p100); }
.hljs-selector-id { color: var(--base9-css-id-p100); }
.hljs-selector-class { color: var(--base9-css-class-p100); }
.hljs-selector-attr { color: var(--base9-field-p100); }
.hljs-selector-pseudo { color: var(--base9-css-pseudo-p100); }
.hljs-template-tag { color: var(--base9-css-element-p100); }
.hljs-template-variable { color: var(--base9-field-p100); }
.hljs-addition { color: var(--base9-green-p100); }
.hljs-deletion { color: var(--base9-red-p100); }